<section id="content">
    
    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Users</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="/users">Users</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="/deshboard">Home</a>
                    </li>
                </ul>
            </div>

            <!-- Button to toggle the popup -->
        <button class="view-modal" (click)="togglePopup()">+ Add User</button>

        <!-- Popup form for adding categories -->
        <div id="myPopup" class="popup" [class.show]="isPopupVisible">
            <header>
                <h2>Add Category</h2>
                <span id="closePopup" class="close" (click)="closePopup()">&times;</span>
            </header>
            
            <form action="#">
                <div class="form-row">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label for="">First Name</label>
                    </div>
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label for="">Last Name</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label for="">Email Address</label>
                    </div>
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label for="">Website Name</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data textarea">
                        <textarea rows="8" cols="80" required></textarea>
                        <br />
                        <div class="underline"></div>
                        <label for="">Write your message</label>
                        <br />
                        <div class="form-row submit-btn">
                            <div class="input-data">
                                <div class="inner"></div>
                                <input type="submit" value="Submit">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>List Users</h3>
                    <i class='bx bx-search' ></i>
                    <i class='bx bx-filter' ></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>userId</th>
                            <th>Firstname</th>
                            <th>LastName</th>
                            <th>email</th>
                            <th>numberPhone</th>
                            <th>isActive</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of users">
                            <td>{{c.userId}}</td>
                            <td>{{c.firstname}}</td>
                            <td>{{c.lastname}}</td>
                            <td>{{c.email}}</td>
                            <td>{{c.numberPhone}}</td>
                            <td><span class="status completed">{{c.isActive}}</span></td>
                            <!-- Ajoute d'autres colonnes au besoin -->
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <a (click)="goToPreviousPage()"><</a> <!-- Lien vers la page précédente -->
                    <ng-container *ngFor="let page of generateArray(totalPages); let i = index">
                        <a [class.active]="i === 0 && currentPage === 0 || i === currentPage" (click)="goToPage(i)">
                            {{ page + 1 }}
                        </a>
                    </ng-container>
                    <a (click)="goToNextPage()">></a> <!-- Lien vers la page suivante -->
                </ul>
          
            </div>
          
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->


