<section id="content">


    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Orders</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="/orders">Orders</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="/deshboard">Home</a>
                    </li>
                </ul>
            </div>
            <!-- Button to toggle the popup -->
            <button class="view-modal" (click)="togglePopup()">+ Add Order</button>

            <!-- Popup form for adding categories -->
            <div id="myPopup" class="popup" [class.show]="isPopupVisible">
                <header>
                    <h2>Add Category</h2>
                    <span id="closePopup" class="close" (click)="closePopup()">&times;</span>
                </header>
                
                <form action="#">
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label for="">categoryId</label>
                        </div>
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label for="">idParent</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label for="">Label</label>
                        </div>
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label for="">categoryTitle</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data textarea">
                            <textarea rows="8" cols="80" required></textarea>
                            <br />
                            <div class="underline"></div>
                            <label for="">description</label>
                            <br />
                            <div class="form-row submit-btn">
                                <div class="input-data">
                                    <div class="inner"></div>
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>List Products</h3>
                    <i class='bx bx-search' ></i>
                    <i class='bx bx-filter' ></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th>DeliveryAddress</th>
                            <th>Orderitems</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of order">
                            <td>{{c.userId}}</td>
                            <td><button (click)="togglePopupDelivryAdress()">DeliveryAddress</button></td>
                            <td><button (click)="togglePopupOrderItems()">Orderitems</button></td>
                            <div id="myPopup" class="popup" [class.show]="isDelivryAdressVisible">
                                <div class="popup-content">
                                    <span (click)="closePopupDeliveryAdress()" class="close">&times;</span>
                                    <h2>DeliveryAddress</h2>
                                    <div>
                                      <p>First Name: {{c.deliveryAddress.firstName}}</p>
                                      <p>Last Name: {{c.deliveryAddress.lastName}}</p>
                                      <p>Email: {{c.deliveryAddress.email}}</p>
                                      <p>Phone: {{c.deliveryAddress.phone}}</p>
                                      <p>City: {{c.deliveryAddress.city}}</p>
                                      <p>Comment: {{c.deliveryAddress.comment}}</p>
                                    </div>
                                  </div>
                            </div>
                            <div id="myPopup" class="popup" [class.show]="isOrderItemsVisible">
                                <div class="popup-content">
                                    <div class="popup-content">
                                        <span (click)="closePopupOrderItems()" class="close">&times;</span>
                                        <h2>Order Items</h2>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>ProductID</th>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Quantite</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of c.items">
                                                    <td>{{item.productId}}</td>
                                                    <td>{{item.label}}</td>
                                                    <td>{{item.price}} DH </td>
                                                    <td> {{item.qty}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <ul class="pagination">
                    <a (click)="goToPreviousPage()"><</a> <!-- Link to previous page -->
                    <ng-container *ngFor="let page of generateArray(totalPages); let i = index">
                        <a [class.active]="i === 0 && currentPage === 0 || i === currentPage" (click)="goToPage(i)">
                            {{ page + 1 }}
                        </a>
                    </ng-container>
                    <a (click)="goToNextPage()">></a> <!-- Link to next page -->
                </ul>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->


